*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.schemes_block{
    width: 95%;
    height: 70vh;
    margin: auto;
}
.d-block{
    width: 100%;
    height: 485px;
}
.description{
    background-color: #007DF5;
    width: 100%;
    height: 15vh;
}
.description>h2,.description>p{
    text-align: center;
    color: white;
}
.popular{
    text-align: center;
    margin-top: 25px;
}
.popular>h4>a{
    text-decoration: none;
}
.cards{
    width:80%;
    height: auto;
    margin: auto;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.scheme_card{
    height: 350px;
    width: 300px;
    border: 2px solid black;
    margin: 30px;
}
.scheme_card>img{
    height: 87%;
    width: 100%;
}
.scheme_card>h3{
    background-color: #007DF5;
    color: white;
    position: relative;
    top: -302px;
}
.desc{
    position: relative;
    background-color: #007DF5;
    top: -43px;
}
.desc>h6{
    color: white;
}