*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.bdy{
    background-image: linear-gradient(#FFD1D1, #D2DAFF, #FCFFB2);
}

.schemes_block{
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-bottom: -75px;
}
.d-block{
    height: 65vh;
    width: 100%;
}
.description{
    background-color: #007DF5;
    padding-top: 25px;
    width: 100%;
    height: 150px;
}
.description>h2,.description>p{
    text-align: center;
    color: white;
}
.description>h2{
    font-size: 50px;
}
.description>p{
    font-size:25px;
}
.popular{
    text-align: center;
    margin-top: 15px;
}
.popular>h4>a{
    text-decoration: none;
}
.cards{
    width:80%;
    height: auto;
    margin: auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.scheme_card{
    height: 350px;
    width: 300px;
    border: 4px ridge black;
    margin: 30px;
}
.scheme_card:hover{
    box-shadow: 0 0 10px #636363,
    0 0 30px #636363,
    0 0 50px #636363,
    0 0 70px #636363,
    0 0 90px #636363;
    transform: scale(1.15);
}
.scheme_card>img{
    height: 87%;
    width: 100%;
}
.scheme_card>h3{
    background-color: #04040497;
    color: #ffffff;
    position: relative;
    top: -302px;
}
.desc{
    position: relative;
    background-color: #313131;
    top: -43px;
}
.desc>h6{
    color: white;
}
.content_parent{
    width: 90%;
    height: 80vh;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content_child_left{
    width: 60%;
    height: 90%;
    background-color: #b8d8f6;
}

.content_child_left>h2{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: white;
    background-color: #007DF5;
}
.content_child_left>p{
    font-size: 25px;    
}
.content_child_left>p::first-letter{
    margin-left: 50px;
    color: brown;
    font-size: 50px;
    font-weight: bold;
}
.content_child_left>p>mark{
    background-color: rgb(201, 250, 111);
}
.content_child_left>p>b{
    color: brown;
}
.content_child_right{
    width: 35%;
    height: 90%;
    background-color: #b8d8f6;
}
.content_child_right>h2{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: white;
    background-color: #007DF5;
}
.content_child_right>ul{
    margin-top: 100px;
}
.content_child_right>ul>li{
    font-size: 30px;
    margin-top: 30px;
}
.content_child_right a{
    color: brown;
    text-decoration: none;
}
footer {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #007DF5;
}

table {
    width: 80%;
}

th {
    padding-bottom: 30px;
    color: #EEF1FF;
}

td {
    padding-bottom: 5px;
    color: white;
}